/*                                                  RESET/GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  background-image: url(../imgs/estilos.webp);
  background-size: cover;
}
h1 {
  text-align: center;
}
h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 3%;
  text-shadow: #6494aa;
  margin-bottom: 0px;
  background-color: #6494aa;
}
